.popular-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.popular-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "manometer-serif-high";
  font-weight: 400;
  font-style: italic;;
  color: black;
  font-size: 75px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;

  background: linear-gradient(-45deg, #008C45, #F4F9FF, #CD212A);
  background-size: 200% 200%;
  animation: Gradient 10s ease infinite;
}


@keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}



.popular-title-left-section {
flex: 1;
background-color: transparent;
height: 194px;
padding: 50px;
background-clip: padding-box;
}
.popular-title-right-section {
  flex: 2;
  background-color: transparent;
height: 194px;
}
.popular-title-text {
  color: black;
  background-color: white;
  mix-blend-mode: screen;
  padding-right: 10px;
}

.popular-slide {
  margin-bottom: 60px;
  width: 100%;
}
.popular-top-clip,
.popular-bottom-clip,
.popular-left-clip,
.popular-right-clip {
  z-index: 5;
  position: absolute;
  background-color: white;
  height: 70px;
}
.popular-top-clip{
  top: 0;
}
.popular-left-clip {
  width: 374.31px;
  left: 0;
}
.popular-bottom-clip {
  bottom: 0;
}
.popular-right-clip {
  right: 0;
  width:546.63px;
}

